<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="icon" type="image/png" href="../public/src/slogo.png">
  	<link rel="stylesheet"  href="../public/styles/tour.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />



</head>
<body>

  	<div class="desktop-2">
    		<div class="container">
      			<div class="divheader-logo">
        				<div class="divheader-search">
          					<div class="input">
            						<div class="search-destinations-or">Search destinations or activities</div>
          					</div>
          					<img class="iconlylight-outlinesearch" alt="" src="Iconly/Light-outline/Search.png">

        				</div>
      			</div>
      			<div class="divheader-right">
        				<div class="link-sign">Sign up</div>
        				<div class="link">
          					<div class="log-in">Log in</div>
        				</div>
        				<div class="symbol"></div>
        				<div class="divheaderdropdown-button">
          					<div class="destinations">Destinations</div>
          					<div class="symbol1"></div>
        				</div>
        				<div class="divheaderdropdown-button1">
          					<div class="activities">Activities</div>
          					<div class="symbol2"></div>
        				</div>
        				<div class="divheaderdropdown-button2">
          					<div class="bookings">Bookings</div>
        				</div>
      			</div>
      			<img class="chatgpt-image-aug-12-2025-08-icon" alt="" src="ChatGPT_Image_Aug_12,_2025,_08_12_09_PM[1] 1.png">

    		</div>
    		<div class="frame">
      			<div class="results">1362 results</div>
      			<div class="sort-by">Sort by:</div>
      			<div class="featured">Featured</div>
      			<div class="symbol3"></div>
      			<div class="divtourcard">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="divbg-accent-1">
            						<div class="off">20 % OFF</div>
          					</div>
          					<div class="button1">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Tawang, Arunachal Pradesh</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: Tawang Monastery, snow-capped peaks, Sela Pass</li>
              							<li>Best time: March–June, September–October</li>
            						</ul>
          					</span>
        				</div>
      			</div>
      			<div class="symbol15"></div>
      			<div class="divis-active">
        				<div class="div3">1</div>
      			</div>
      			<div class="div4">2</div>
      			<div class="div5">3</div>
      			<div class="div6">4</div>
      			<div class="div7">...</div>
      			<div class="div8">20</div>
      			<div class="symbol16"></div>
      			<div class="showing-results-1-30">Showing results 1-30 of 1,415</div>
      			<div class="divtourcard1">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="divbg-accent-1">
            						<div class="off">15 % OFF</div>
          					</div>
          					<div class="button1">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Kaziranga National Park, Assam</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: One-horned rhinoceros, UNESCO World Heritage site</li>
              							<li>Best time: November–April</li>
            						</ul>
          					</span>
        				</div>
      			</div>
      			<div class="divtourcard2">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="divbg-accent-1">
            						<div class="off">15 % OFF</div>
          					</div>
          					<div class="button1">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Cherrapunji (Sohra), Meghalaya</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: Living root bridges, waterfalls, caves</li>
              							<li>Best time: October–May</li>
            						</ul>
          					</span>
        				</div>
      			</div>
      			<div class="divtourcard3">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="divbg-accent-1">
            						<div class="off">10 % OFF</div>
          					</div>
          					<div class="button1">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Aizawl, Mizoram</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: Hills, cultural heritage, Durtlang Hills view</li>
              							<li>Best time: November–March</li>
            						</ul>
          					</span>
        				</div>
      			</div>
      			<div class="divtourcard4">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image4">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="button9">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Loktak Lake, Manipur</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: Floating phumdis, Keibul Lamjao National Park</li>
              							<li>Best time: October–March</li>
            						</ul>
          					</span>
        				</div>
      			</div>
      			<div class="divtourcard5">
        				<div class="symbol4"></div>
        				<div class="symbol5"></div>
        				<div class="symbol6"></div>
        				<div class="symbol7"></div>
        				<div class="symbol8"></div>
        				<div class="symbol9"></div>
        				<div class="symbol10"></div>
        				<div class="best-price-guarantee">Best Price Guarantee</div>
        				<div class="symbol11"></div>
        				<div class="free-cancellation">Free Cancellation</div>
        				<div class="divtourcard-info">
          					<div class="div">
            						<div class="divd-flex">
              							<div class="symbol12"></div>
              							<div class="days-1-nights">2 Days 1 Nights</div>
            						</div>
            						<div class="divtourcard-price">
              							<div class="div1">$1200</div>
              							<div class="from">From</div>
              							<div class="div2">$114</div>
            						</div>
          					</div>
          					<div class="button">
            						<div class="link-view">View Details</div>
            						<div class="symbol13"></div>
          					</div>
        				</div>
        				<div class="divtourcard-image4">
          					<img class="image-icon" alt="" src="image.png">

          					<div class="button9">
            						<div class="symbol14"></div>
          					</div>
        				</div>
        				<div class="tawang-arunachal-pradesh-container">
          					<span class="tawang-arunachal-pradesh-container1">
            						<p class="tawang-arunachal-pradesh">Phek, Nagaland</p>
            						<ul class="famous-for-tawang-monastery">
              							<li class="famous-for-tawang">Famous for: Trekking trails, traditional villages, scenic landscapes</li>
              							<li>Best time: October–May</li>
            						</ul>
          					</span>
        				</div>
      			</div>
    		</div>
    		<div class="frame1">
      			<div class="divsidebar-header">
        				<div class="when-are-you">When are you traveling?</div>
        				<div class="divsearchform">
          					<div class="divpl-calendar">
          					</div>
        				</div>
      			</div>
      			<div class="div24">
        				<div class="input1">
          					<div class="february-05">February 05 ~ March 14</div>
        				</div>
      			</div>
      			<div class="heading-5">Tour Type</div>
      			<div class="symbol72"></div>
      			<div class="divpt-15">
        				<div class="nature-tours">Nature Tours</div>
        				<div class="divform-checkbox-mark">
        				</div>
        				<div class="adventure-tours">Adventure Tours</div>
        				<div class="divform-checkbox-mark1">
        				</div>
        				<div class="cultural-tours">Cultural Tours</div>
        				<div class="divform-checkbox-mark2">
        				</div>
        				<div class="food-tours">Food Tours</div>
        				<div class="divform-checkbox-mark3">
        				</div>
        				<div class="city-tours">City Tours</div>
        				<div class="divform-checkbox-mark4">
        				</div>
        				<div class="cruises-tours">Cruises Tours</div>
        				<div class="divform-checkbox-mark5">
        				</div>
        				<div class="link-see">See More</div>
        				<img class="teenyiconstick-solid" alt="" src="teenyicons:tick-solid.svg">

        				<img class="teenyiconstick-solid1" alt="" src="teenyicons:tick-solid.svg">

      			</div>
      			<div class="divsidebar-item">
        				<div class="heading-51">Filter Price</div>
        				<div class="symbol73"></div>
      			</div>
      			<div class="divsidebar-item1">
        				<div class="heading-52">Duration</div>
        				<div class="symbol73"></div>
      			</div>
      			<div class="divsidebar-item2">
        				<div class="heading-53">Language</div>
        				<div class="symbol73"></div>
      			</div>
      			<div class="divsidebar-item3">
        				<div class="heading-54">Rating</div>
        				<div class="symbol73"></div>
      			</div>
      			<div class="divsidebar-item4">
        				<div class="heading-55">Specials</div>
        				<div class="symbol73"></div>
      			</div>
    		</div>
    		<div class="frame2">
      			<div class="link-home">Home&gt;Tours&gt;NorthEast</div>
      			<b class="heading-1">Explore all things to do in North East</b>
    		</div>
  	</div>




</body>
</html>