body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.sign-up-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
}
.logo-icon {
  	position: absolute;
  	top: -85px;
  	left: -45px;
  	width: 257px;
  	height: 257px;
  	object-fit: cover;
}
.side-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 52px 0px 0px 52px;

}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  top: 150px;
  left:250px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: absolute;
  z-index: 1;
}

.form-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input, select {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.checkbox-row input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
}

.checkbox-row label {
  font-weight: normal;
  white-space: nowrap;
}

.checkbox-row a {
  color: #3b90fb;
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3b90fb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.social-signin {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.google-signin, .apple-signin {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #717171;
  border-radius: 50px;
  cursor: pointer;
}

.login-prompt {
  text-align: center;
  font-size: 14px;
}

.login-link {
  color: #3b90fb;
  text-decoration: none;
  font-weight: 500;
}